


.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto; /* Centra el div en pantallas grandes */
    background-color: #e71313;

    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}